html,
body {
  height: 100%;
  width: 100vw;
  overflow: hidden;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 25%;
  margin-top: 0;
}

.header h2 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

:not(h1):not(h2) {
  font-size: 16px;
}

.header > div {
  width: 0;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 10px;
}

.title {
  padding: 0;
  margin: 0;
}

.title > div {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.title img {
  float: left;
  width: 80px;
  margin: 0px;
}

.title h1 {
  position: relative;
  margin: 0px;
  line-height: 2.5;
}

.title > h1::after {
  clear: both;
}

.header > div:first-child {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
}

h1,
h2 {
  text-align: center;
}

.body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 75%;
  align-items: stretch;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 1%;
  /* align-items: stretch; */
}

.card {
  border: 1px solid #999;
  border-radius: 10px;
  box-shadow: 1px 2px 5px 0 #000000;
  margin: 10px;
  padding: 10px;
  background: white;
}

.body > div > div.heading {
  flex-shrink: 0;
  text-align: center;
}

.vertical-scroll {
  flex-grow: 1;
  overflow: hidden;
  padding: 0;
}
.vertical-scroll > .inner {
  overflow: auto;
  margin-right: -300px;
  padding-right: 300px;
}

.body > div {
  width: 0;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 10px 10px 0px 10px;
  height: 100%;
  box-sizing: border-box;
  /* margin: 0; */
}

hr {
  margin: 10px 0px 10px 0px;
}

input[type='text'] {
  width: 100%;
}

.flex-table div {
  box-sizing: border-box;
}

.flex-row {
  width: 100%;
}

.flex-table {
  display: flex;
  flex-flow: row wrap;
}

div.addr {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.transaction {
  margin-bottom: 0;
}

.blockchain .transaction > div {
  padding-left: 10px;
}

.blockchain .transaction > div {
  display: none;
}

.blockchain .transaction.active > div {
  display: block;
}

.loader.active {
  display: inline-block;
}
.loader.inactive {
  display: none;
}

.loader {
  border: 2.5px solid #f3f3f3; /* Light grey */
  border-top: 2.5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
